html {
  background: inherit;
}

html.index, body.index {
  height: 100%;
}

body {
  background-color: #000;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

body.index {
  max-height: 100%;
  overflow: hidden;
  background-image: url("../img/bg-body.jpg");
}

body.part1 {
  background-image: url("../img/bg-part1.jpg");
}

body.part2 {
  background-image: url("../img/bg-part2.jpg");
}

body.part3 {
  background-image: url("../img/bg-part3.jpg");
}

#loader-screen {
  position: absolute;
  position: fixed;
  background-color: #000;
  min-height: 100%;
  width: 100%;
  z-index: 9998;
  background-image: url("../img/loader.png");
  background-repeat: no-repeat;
  background-position: center center;
}

#loader-screen p {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 1em;
  font-family: 'Open Sans Condensed', 'Roboto', Arial, sans-serif;
  font-weight: 300;
  font-size: 2em;
  color: #fff;
}

.absolute-centered-conatiner {
  position: absolute;
  left: 50%;
}

.absolute-centered {
  position: relative;
  left: -50%;
}

.exhibition-name,
.exhibition-description {
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}

.exhibition-name {
  font-family: 'Roboto', Arial, sans;
  width: 100%;
  font-weight: 500px;
  font-size: 150px;
  line-height: 150px;
  margin-top: 20px;
}

.exhibition-description {
  font-family: 'Open Sans Condensed', 'Roboto', Arial, sans;
  font-size: 30px;
  line-height: 30px;
  font-weight: 300;
}

.award .header {
  font-size: 1.6em;
  font-family: 'Open Sans Condensed', 'Roboto', Arial, sans;
}

.index-poem-container {
  bottom: 30px;
}

.part-poem, .index-poem, .award {
  background-color: rgba(81,112,132,0.8);
}

.part-poem-container {
  text-align: center;
}

.part-poem,
.award {
  padding: 40px 120px;
  display: inline-block;
  color: #fff;
}

.index-poem {
  background-image: url("../img/bg-tereshkova.png");
  min-width: 167px;
  min-height: 251px;
  background-repeat: no-repeat;
  background-position: right bottom;
  padding: 20px 167px 20px 20px;
}

.index-poem p,
.part-poem p,
.award p {
  text-align: center;
  font-family: 'Roboto', Arial, sans;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.2em;
  color: #fff;
  margin-bottom: 1em;
}

.index-poem .author,
.part-poem .author {
  margin-top: -10px;
  margin-bottom: 0;
  font-size: 0.8em;
  text-align: right;
  font-family: 'Open Sans Condensed', 'Roboto', Arial, sans;
}

.index-poem .outline-link {
  border-bottom: 1px solid #fff;
  padding-bottom: 15px;
}

.index-poem .outline-link a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dashed #fff;
}

.outline-bg {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: rgba(81,112,132,0.9);
  left: 0;
  top: 0;
  display: none;
}

.outline-container {
  top: 50px;
}

.outline {
  /*margin-top: -50%;*/
  padding: 70px 150px;
}

.outline li {
  margin-bottom: 0.6em;
  color: #fff;
}

.outline li.active {
  font-weight: 700;
}

.outline .to-index {
  font-style: italic;
  margin-bottom: 2em;
}

.outline a {
  text-decoration: underline;
}

.outline a,
.outline li.active {
  color: #fff;
  font-family: 'Open Sans Condensed', 'Roboto', Arial, sans;
  font-size: 1.4em;
  line-height: 1em;
}

.mobile-outline-link {
  bottom: 0;
  position: fixed;
}

.mobile-outline-link .absolute-centered {
  background-color: rgba(81,112,132,0.8);
}

.mobile-outline-link p {
  margin: 0;
  padding: 15px 30px;
}

.mobile-outline-link p a{
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dashed #fff;
}

.part-block {
  padding-top: 30px;
  padding-bottom: 70px;
}

.part-block .photo {
  padding: 10px;
  background-color: #fff;
}

.row.part-block .row {
  padding-bottom: 20px;
}

.photo-frame {
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 -1px 0 rgba(255, 255, 255, 0.8), 0 4px 10px rgba(0, 0, 0, 0.6);
  text-shadow: 0 1px 0 white;
  padding: 15px;
  margin: 15px auto;
}

.photo-frame .photo-description {
  color: white;
  display: inline-block;
  padding-top: 5px;
  margin: 0;
  text-shadow: 0 -1px 4px rgba(0, 0, 0, 0.2), 0 2px 2px black;
}

.photo-container {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4), 0 2px 5px rgba(0, 0, 0, 0.4) inset, 0 1px 0 #FFFFFF;
  overflow-x: hidden;
  /*padding: 10px;*/
  position: relative;
  white-space: pre;
  text-align: center;
}

.photo-container img {
  border-radius: 10px 10px 10px 10px;
}

.photo-group-description {
  color: #fff;
  text-align: center;
}